# Importing Libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# Data Gathering

In [2]:
# loading the dataset
football_df = pd.read_csv("results.csv")

In [3]:
# displaying the dataset
football_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969-11-01,Italy,France,1,0,Euro,Novara,Italy,False
1,1969-11-01,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969-11-02,England,France,2,0,Euro,Turin,Italy,True
3,1969-11-02,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975-08-25,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [4]:
# Information about the dataset
football_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        4884 non-null   object
 1   home_team   4884 non-null   object
 2   away_team   4884 non-null   object
 3   home_score  4884 non-null   int64
 4   away_score  4884 non-null   int64
 5   tournament  4884 non-null   object
 6   city        4884 non-null   object
 7   country     4884 non-null   object
 8   neutral     4884 non-null   bool
dtypes: bool(1), int64(2), object(6)
memory usage: 310.1+ KB

In [5]:
# dataset size
football_df.shape

(4884, 9)

# Data Cleaning

In [6]:
# changing the date column datatype from object to datetime
football_df.date = pd.to_datetime(football_df.date)

In [7]:
football_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        4884 non-null   datetime64[ns]
 1   home_team   4884 non-null   object
 2   away_team   4884 non-null   object
 3   home_score  4884 non-null   int64
 4   away_score  4884 non-null   int64
 5   tournament  4884 non-null   object
 6   city        4884 non-null   object
 7   country     4884 non-null   object
 8   neutral     4884 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 310.1+ KB

In [8]:
# checking for missing values
football_df.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [9]:
# checking for duplicates
football_df.duplicated().sum()

0